In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Load csv
path = os.path.join('..', 'weatherpy', 'weatherdata.csv' ) 
df = pd.read_csv(path)
df.head()

,Unnamed: 0,Cities,Country,Temp (F),Latitude,Longitude,Cloudiness (%),Humidity (%),Wind Speed (mph),Date
0,0,sechura,PE,72.12,-5.5569,-80.8222,1,64,6.22,1626797831
1,1,port alfred,ZA,60.46,-33.5906,26.8910,95,78,18.88,1626797603
2,2,ushuaia,AR,37.02,-54.8000,-68.3000,75,69,4.61,1626797719
3,3,barrow,US,39.22,71.2906,-156.7887,90,93,19.57,1626797775
4,4,bubaque,GW,82.69,11.2833,-15.8333,19,75,10.60,1626797834

In [3]:
# Get rid of duplicate index column
df = df.drop(columns='Unnamed: 0')

AIzaSyDvyHRwzArYmly51QrMfiZhMiMTrfm-TZs

In [6]:
# configure gmaps
gmaps.configure(api_key=g_key)

coords = df[(['Latitude', 'Longitude'])]

In [8]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Add the layer to the map
fig.add_layer(gmaps.heatmap_layer(coords,df['Humidity (%)']))

#fig.add_layer(gmaps.heatmap_layer(coords, weights=df['Humidity (%)']))
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [21]:
# Drop any rows that contain missing values
df_ideal = df.dropna()
# Limit max temp values, cloudiness values, and wind speed values for ideal vacation spots
df_ideal = df_ideal.loc[(df_ideal['Temp (F)'] <= 83.0) & (df_ideal['Temp (F)'] > 77.0)
                       & (df_ideal['Cloudiness (%)'] < 15) & (df_ideal['Wind Speed (mph)'] < 15.0)]
df_ideal

,Cities,Country,Temp (F),Latitude,Longitude,Cloudiness (%),Humidity (%),Wind Speed (mph),Date
52,ponta do sol,PT,77.72,32.6667,-17.1000,2,70,1.32,1626797868
77,marfino,RU,78.08,55.7028,37.3822,0,38,11.18,1626797889
92,stevens point,US,81.39,44.5236,-89.5746,1,70,0.00,1626797881
124,tukrah,LY,81.03,32.5341,20.5791,0,63,11.50,1626797923
127,wiesbaden,DE,80.46,50.0833,8.2500,1,40,1.01,1626797926
250,zanjan,IR,81.23,36.6736,48.4787,0,26,10.25,1626798017
303,chaves,US,82.58,33.3834,-104.4505,1,65,9.22,1626798058
338,winnenden,DE,78.12,48.8756,9.3982,0,45,4.00,1626798085
397,belen,TR,82.54,36.4891,36.2233,0,45,13.80,1626798132
437,ipameri,BR,82.27,-17.7219,-48.1597,1,13,4.56,1626798162
450,livingston,GB,78.87,55.9029,-3.5226,0,74,9.22,1626798102
482,ondjiva,AO,80.64,-17.0667,15.7333,0,19,4.61,1626798201
490,pontalina,BR,82.74,-17.5250,-49.4472,2,10,4.52,1626798207
491,belgrade,RS,81.39,44.8040,20.4651,0,54,10.36,1626798075
497,liberal,US,78.15,37.0431,-100.9210,1,60,11.50,1626798084